---
import { optional } from "astro:schema"
import {type Launch, type LaunchesQuery } from "../types/index"
import CardLaunch from "./CardLaunch.astro"

interface Props {
    launches: Launch[]
}

const { launches } = Astro.props 


---
<div class="flex w-full justify-center">

    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 md:gap-12">
        {
            launches.map((launch) => (
                
                <CardLaunch
                    name={launch.name}
                    id={launch.id}
                    date={launch.date_utc}
                    success={launch.success}
                    img={launch.links.patch.small ?? 'DALL·E 2025-02-25 10.45.33 - A placeholder image indicating that no image is available for a rocket article. The image should feature a faded or silhouette-style rocket with a que (1).webp'}
                    flight_number={launch.flight_number}
                    details={launch.details}

                />
            ))
    }

</div>
</div>